@page "/"
@inject IHelloService helloService

<h1>@HelloText</h1>

@code {
    private string HelloText { get; set; } = "";

    protected override void OnInitialized()
    {
        HelloText = helloService.Hello("Blazor");
    }
}
